<form action="{{ url_for("main")}}" method="post">
<label for="name">Name:</label>
<input type="text" id="name" name="name" value="{{name}}">
<br>
<label for="student_num">Student number:</label>
<input type="text" id="student_num" name="student_num" value="{{student_num}}">
<br>
<label for="exam_name">Exam name:</label>
<input type="text" id="exam_name" name="exam_name" value="{{exam_name}}">
<br>
<label for="instructor_contact">Instructor contact:</label>
<input type="text" id="instructor_contact" name="instructor_contact" value="{{instructor_contact}}">
<br>
<label for="exam_start">Exam start:</label>
<input type="text" id="exam_start" name="exam_start" value="{{exam_start}}">
<br>
<label for="exam_duration">Exam duration (hours):</label>
<input type="text" id="exam_duration" name="exam_duration" value="{{exam_duration}}">
<br>
<label for="last_time_checked">Last time checked on:</label>
<input type="text" id="last_time_checked" name="last_time_checked" value="{{last_time_checked}}">
<br>
<label for="needs_help">Needs help:</label>
<input type="checkbox" id="needs_help" name="needs_help" {{'checked="checked"' if needs_help else ""}}>
<br>
<label for="started">Started:</label>
<input type="checkbox" id="started" name="started" {{'checked="checked"' if started else ""}}>
<br>

<button onclick="window.location.href = {{next_url}};" type="submit">Update fields</button>
